---
permalink: /about/
title: Me
layout: default.liquid
data:
  route: about
---
<img class="me-image corner" src="/img/sanket_dp_zoom.jpg" />

<h1>Hello!</h1>

<p>
My name is Sanket Kanjalkar (aka sanket1729).<br />
You can find me on social media platforms by the id @sanket1729.
</p>

<p class="clearfix">
<img class="about-icon" src="/img/rust.svg" />
I am employee at <a href="http://blockstream.com/">Blockstream</a> research working on bitcoin related projects.<br/>
I graduated 2016 from IIT Bombay CS, worked at Samsung Korea(2016-2018) and completed 
my master's in CS with <a href="http://soc1024.ece.illinois.edu/"> Prof. Andrew Miller</a> at University of Illinois at Urbana Champaign(UIUC). </p>

<>

<p class="clearfix">
<img class="about-icon" src="/img/cobalt.svg" />
This blog is powered by Cobalt. 
</p>