---
permalink: /about/
title: Me
layout: default.liquid
data:
  route: about
---
<img class="me-image corner" src="/img/sanket_dp_zoom.png" />

<h1>HAI!</h1>

<p>
My name is Sanket Kanjalkar (aka sanket1729).<br />
You can find me on social media platforms by the id @sanket1729.
</p>

<p class="clearfix">
<img class="about-icon" src="/img/rust.svg" />
I am employee at Blockstream research working on bitcoin related cryptocurrency projects<br/>
I graduated 2016 from IIT Bombay CS, worked at Samsung Korea(2016-2018) and completed 
my master's in CS with Prof.Andrew Miller at UIUC(2018). </p>

<p class="clearfix">
<img class="about-icon" src="/img/cobalt.svg" />
This blog is powered by Cobalt. 
</p>