---
permalink: /about
title: sanket1729
layout: default.liquid
data:
  route: about
---
<img class="me-image corner" src="/img/sanket_dp_zoom.jpg" />

<h1>Hello!</h1>

<p>
My name is Sanket Kanjalkar (aka sanket1729).<br />
You can find me on social media platforms by the id @sanket1729. </br>
I got A+ in all courses during my Master's programme. But you know what, "No one cares :) ".
</p>

<p class="clearfix">
<img class="about-icon" src="/img/rust.svg" /> I find excuses to use rust in almost all projects that I do :), like this website. </br></br></br>
<img class="about-icon" src="/img/lichess.png" /> I am a avid fan of chess. Feel free to add me on <a href="https://lichess.org/@/sanket1729">Lichess</a> and send me a challenge. I will play Queen's Gambit Declined with white pieces.
<br/><br/> </br>
<img class="about-icon" src="/img/guitar.png" /> Fingerstyle guitarist since 2018, still a noob. But I want to learn to ply "On Cloud 9" by Sungha Jung one day. Almost all guitarists
 suck, don't be shy to ask me for a jam :). Let's suck together.
<br/><br/></br>
<img class="about-icon" src="/img/bitcoin.jpeg" /> Lucky are the people who get to work research full-time on what they like. 
And for that I am thankful awesome mentors Pieter Wuille, Andrew Poelstra at <a href="http://blockstream.com/">Blockstream</a> research and
a special thanks for Ruben Somsen for helping me get started.  
My current projects are <a href="http://bitcoin.sipa.be/miniscript"> Miniscript</a> and <a href="https://blockstream.com/simplicity.pdf"> Simplicity</a>.<br/><br/> </br>

<img class="about-icon" src="/img/iitb.png" /> I graduated with B'Tech from IIT Bombay CS with a major in computer science. If I had to pick a time of my life 
which I would relive, it would be the four years of stay at IIT Bombay all over again.</br> </br>

<img class="about-icon" src="/img/uiuc.png" /> I also completed my master's in CS with <a href="http://soc1024.ece.illinois.edu/"> Prof. Andrew Miller</a> at UIUC focus on 
cryptocurrencies and applied cryptography. 
You can find my thesis on MPC and zk-SNARKs <a href="https://www.ideals.illinois.edu/handle/2142/108065"> here. </a></br></br></p>

<p class="clearfix">
<img class="about-icon" src="/img/cobalt.svg" />
This blog is powered by Cobalt. Special thanks to booyah
</p>