---
title: "sanket1729's webspace"
layout: default.liquid
data:
  route: about
---
<img class="me-image corner" src="/img/sanket_dp_zoom.jpg" />

<h1>Hello,</h1></br> 
<h6>hopefully there will be more blog content here soon :). You can more info <a href="./about">about me</a> 
or find my <a href="/cv.pdf">CV</a> here.</h6>

{% assign idx = 0 %}
{% for post in collections.posts.pages %}
{% if idx < 5 %}
<article class="blog-list">
  <div class="left">
  <img src="/img/betsy.png" class="corner avi-image"/>
  </div>
  <div class="right">
  <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
  {{ post.content | strip_html | truncatewords: 25, '...' }}
  </div>
</article>
{% endif %}
{% assign idx = idx | plus: 1 %}
{% endfor %}

{% comment %}
Looking for more posts? Check out the <a href="/archive/">archive</a>!
{% endcomment %}